repos:
- repo: https://github.com/psf/black
  rev: 24.8.0
  hooks:
    - id: black
      language_version: python3.13
      files: ^(elephantq/|run_tests\\.py|scripts/)
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.9.3
  hooks:
    - id: isort
      language_version: python3.13
      files: ^(elephantq/|run_tests\\.py|scripts/)
      args: ["--profile", "black"]
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
    - id: flake8
      language_version: python3.13
      files: ^elephantq/
